<h1> User Index (results of search) </h1>

<p> have a copy of search bar to re-search </p>

<% @users.each do |user| %>
  <h4> <%= user.email %> </h4>
  <h6> <%= user.gender %> </h6>
  <hr>
<% end %>
