#profile_container.page_wrap
  %nav.main_nav
    %ul.nav_links
      %li Profile
      %li Browse
      %li Matches
      %li Conversations
  %section.main_content
    %h2 THIS BE YOUR PROFILE NERD
  %section.match_preview
    %section.likes_you
      %span They've liked you
    %section.you_like
      %span You've liked them
