<% if @user.errors.any? %>
<div id="errorExplanation text-center">
  <div class="bg-danger">
    the form contains <%=pluralize(@bookmark.errors.count, "error") %>.
  </div>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li>* <%= msg %> </li>
    <% end %>
  </ul>
</div>
<% end %>
