#conversation-page-container
  = render 'layouts/nav'
  %section.main_content.grid
    .conversation-preview-container.col-1-10
      -# this is where each chat preview/status/whatevs item will go 
    #conversation-window-container.col-7-10
      #chat-window
        #chat-display
        %ul.chat-text-box
          %li.icon-container
            = image_tag('icons/triforce-icon.png', class: 'new-message-prompt')
          %li.new-message-container
            = form_tag '/chats', id: 'chat-submit', method: 'post' do
              = text_field_tag :new_message, nil, placeholder: 'Enter new message...', class: 'new-message-field'
