#match_page_container
  %nav.main_nav
    %ul.nav_links
      %li
        = link_to 'My Profile', user_path(current_user)
      %li
        = link_to 'Search', users_path
      %li Matches
      %li Conversations
  %section.main_content.grid
    .left-container.col-1-2
      %span Awaiting their like
      .waiting-for-like-container
        %ul.waiting-list
          -# user.each where they've started a convo but the match hasn't accepted
          -binding.pry
    .right-container.col-1-2
      %span Active matches
      .active-matches-container
        %ul.active-matches-list
          -# user.each where the conversation is active
