ol#search-results {
  list-style-type: none;
  margin: 0 auto;
}

li.result-preview {
  height: 160px;
  width: 900px;
  margin: 0 auto;
  margin-bottom: -1px;
  background-color: white;
  padding: 32px;
  border: 1px solid rgba(116, 200, 241, 0.5);
  -webkit-border-radius: 15px 15px 3px 3px;
  -moz-border-radius: 15px 15px 3px 3px;
  border-radius: 15px 15px 3px 3px;
  box-shadow: 4px 4px 3px -1px rgba(166, 226, 46, 0.75);
}

.drawer-handle {
  height: 30px;
  width: 750px;
  margin: 0 auto; 
  margin-bottom: 50px;
  background-color: white;
  border: 1px solid rgba(14, 109, 172, 0.5);
  border-top: none;
  // position: relative;
  -webkit-border-radius: 0px 0px 175px 175px;
  -moz-border-radius: 0px 0px 175px 175px;
  border-radius: 0px 0px 175px 175px;
  box-shadow: 4px 4px 3px -1px rgba(116, 172, 241, 0.75);
}

.result-contents {
  height: 160px;
  width: 100%;
  list-style-type: none;
  display: inline-flex;
}

li.result-image {
  max-width: 100%;
  max-height: 100%;
}

img.language-logo {
  max-width: 80%;
  max-height: 80%;
  margin-left: -30px;
  margin-right: 10px;
}

.result-summary {
  height: 100px;
  width: 500px;
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Josefin Sans', sans-serif;
  color: rgba(116, 172, 241, 0.75);
  // border: 1px solid rgba(14, 109, 172, 0.5);
  // margin-left: 200px;
}

.like-button-container {
  margin-left: 47px;
}

.like-button {
  width: 87px;
  height: 31px;
  margin-top: 37%;
  background-color: white;
  border: 2px solid rgba(116, 172, 241, 0.75);
  color: rgba(116, 172, 241, 0.75);
  font-weight: bold;
    -webkit-border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px;
}

.drawer-cta {
  font-family: 'Josefin Sans', sans-serif;
  color: rgba(116, 172, 241, 0.75);
  text-align: center;
  margin-left: 45%;
}

// .drawer-handle:before {
//     content: '';
//     position: absolute;
//     top: 0; right: 0;
//     border-bottom: 30px solid white;
//     border-right: 30px solid white;
//     width: 0;
// }
