%nav.main_nav.col-1-5
  %ul.nav_links
    %li.nav-link-wrappers
      = link_to 'My Profile', user_path(current_user), class: 'nav_link'
    %li
      = link_to 'Search', users_path, class: 'nav_link'
    %li Matches
    %li Conversations
    %li Logout
    = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav_link'
